@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Suranna;
}

h1{
    font-size: 5rem;
    line-height: 100%;
}
h2{
    font-size: 4rem;
    line-height: 100%; 
    margin: 50px 0;   
}
p{
    font-size: 20px; 
    line-height: 200%;
}
.App{
    background-color: #000;
    color: #fff;
}
header{
    height: 100svh;
    background-image: linear-gradient(to left,#1b5a82,#0f0d4a,#070119,#321074,#732ac9);
    text-align: right;

}
.navbar{
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: auto;

}
.navbar ul{
    list-style: none;
}
 .navbar li{
    display: inline;
 }
 .navbar li a {
    color: cyan;
    text-align: center;
    text-decoration: none;
    padding:10px;
    font-size: 25px;
    margin: 0 20px;
    border-radius: 10px;
    transition: 0.5s;
 }
 .navbar li a:hover{
    background-color: #fff;
    color: #1b5a82;
 }
 .main{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px auto;
 }
.hero-image{
    flex-basis: 50%;
    height: 100%;
}
.hero-image img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-title{
    flex-basis: 50%;  
    margin: auto; 
}
.hero-btn{
    padding: 10px 30px;
    border-radius:40px;
    font-size: 20px;
    border: none;
    margin: 20px 0;
}
.aboutme{
    width: 80%;
    font-size: 30px;
    display: flex;
    margin: auto;
}
.aboutText{
    text-align: justify;
    flex-basis: 50%;
    padding: 50px;
    margin: auto;
    
}
.aboutImg{
    flex-basis: 50%;
    margin: auto;
}
.aboutmeImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.projects{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects p{
    max-width: 50%;
    font-size: 5rem;
    text-align: justify;
    line-height: 90%;
    padding: 100px 0;
}

.calculator, .quotegenerator, .drumpads{
    font-size: 30px;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.calcText{
    padding: 20px;
    text-align: right;
}

.calcImage img{
    width: 70%;
}
.quotegenerator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
}
.quotemark{
    font-size: 15vw;
    line-height: 100%;
    position: absolute;
}
.leftquote{
    top: 15%;
    left: 25%;
}
.rightquote{
    top: 75%;
    right: 25%;
}

.quotetext{
    border: 1px solid #fff;
    padding: 80px;
    margin-top: 10%;
}
.drumpads{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50px 1fr 50px 1fr ;
    grid-gap: 20px;
}
.drumpads h2{
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 60px;

}
.drumpads p{
    grid-column: 2;
    text-align: justify;
    grid-row: 3;
    padding-bottom: 30px;

}
.drumpads img{
    grid-row: 2 / 6;
    grid-column: 4 ;
    width: 50%;

}
.drumpads button{
    grid-column: 2;
    grid-row: 4;

}


.cards{
    display: flex;
    flex-wrap: wrap;
}
.card img{
    padding: 20px;
    width: 400px;
    border-radius: 2rem;
}

.music-player{
    padding-top: 50px;
}
.songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}
.song{
    border: 1px solid #fff;
    margin: 20px;
    border-radius: 0.50rem;
    padding: 20px;
    background-color: #0b0705;
}
.song img{
    border-radius: 0.25rem;
    width: 200px;
}
.artist{
 font-size: 1rem;
 line-height: 0.25rem;
 padding-bottom: 20px;
}

.song button{
    border: 2px solid #fff;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;

}
.song button:hover{
    color: #000;
    background-color: #fff;
}
.gaming{
    height: 100vh;
    position: relative;
}

.video{
    min-width: 100%;
    min-height: 100%;
    display: block;
    
}
.content {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%; 
}
.content h2{ 
    text-align: center;
    margin: 20% auto;
    width: 80%;
    line-height: 4rem;
}
footer{
    width: 90%;
    margin-top: 100px;
    text-align: right;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    color: #fff;
    font-size: 3rem;
    padding: 0 10px;
}






@media(max-width: 738px){
    .calculator{
        grid-template-columns: 1fr;
    }
}