@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Suranna;
}


h1{
    font-size: 5rem;
    line-height: 100%;
}
h2{
    font-size: 4rem;
    line-height: 100%; 
    margin: 50px 0;   
}
p{
    font-size: 20px; 
    line-height: 200%;
}
button{
    transition: 0.2s;
}
.App{
    background-color: #000;
    color: #fff;
}
header{
    min-height: 100vh;
    background-image: linear-gradient(to right,#1b5a82,#0f0d4a,#070119,#321074,#742ac9);
    text-align: right;

}
.navbar{
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: auto;
}
.navbar ul{
    margin-top: 1rem;
    list-style: none;
}
 .navbar li{
    display: inline;
 }
 .navbar li a {
    color: cyan;
    text-align: center;
    text-decoration: none;
    padding:0.70em 1.50em;
    font-size: 1.25rem;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s;
 }
 .close, .open{
    display: none;
 }
 .navbar li a:hover{
    background-color: #fff;
    color: #1b5a82;
 }
 .main{
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    margin: 1rem auto;
 }
.hero-image{
    flex-basis: 50%;
    min-height: 100%;
}
.hero-image img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-title{
    padding-top: 3em;
    flex-basis: 50%;  
    margin: auto; 
}
.main-title h1{
    margin-bottom: 0.50em;
}
.main-title p{
    line-height: 150%;
}
.hero-btn{
    padding: 0.20em 4em;
    border-radius:1.75em;
    font-size: 1.1em;
    border: none;
    margin: 2em 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.hero-btn:hover{
    color: #0b0705;
    background-color: #742ac9;
    border: 2px solid #742ac9;
}
.aboutme{
    max-width: 80%;
    margin: auto;
    text-align: justify;
}
.aboutme h2{
    margin-top: 3em;
}
.aboutme p{
    margin-bottom: 3em;
}
.projects{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.projects p{
    max-width: 50%;
    font-size: 5rem;
    text-align: justify;
    line-height: 90%;
    padding: 100px 0;
}

.calculator, .quotegenerator, .drumpads, .hobbies{
    font-size: 30px;
    max-width: 80%;
    margin: auto;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.calcText{
    padding: 20px;
    text-align: right;
}

.calcImage img{
    max-width: 70%;
}
.quotegenerator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    max-width: 80%;
}
.quotemark{
    font-size: 15vw;
    line-height: 100%;
    position: absolute;
}
.leftquote{
    top: 5%;
    left: 10%;
}
.rightquote{
    top: 90%;
    right: 10%;
}

.quotetext{
    padding: 8rem;
    margin-top: 10%;
    text-align: center;
    border-radius: 4rem 1rem;
    background-image: linear-gradient(to right,#1b5a82,#0f0d4a,#070119,#321074,#742ac9);
}
.quotetext h2{
    margin: 30px 0;
}
.drumpads{
    margin: 6em auto;
    display: grid;
    grid-template-columns:1fr 1fr ;
    padding: 3em 0;
    
}
.drumpads h2{
    grid-column: 1;
    grid-row: 2;

}
.drumpads p{
    grid-column: 1;
    text-align: justify;
    grid-row: 3;

}
.drumpads img{
    grid-row: 2 / 4;
    grid-column: 2 ;
    min-width: 50%;
    max-width: 50%;
    margin: auto;
    padding: 2rem;

}
.drumpads button{
    grid-column: 1;
    grid-row: 4;
    padding: 0.25em 1em;
    font-size: 0.75em;

}
.songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4em;
    margin-top: 4rem;
}
.song{
    border: 1px solid #fff;
    margin: 0.2em;
    border-radius: 0.50rem;
    padding: 20px;
    background-color: #0b0705;
}
.song img{
    border-radius: 0.25rem;
    max-width: 12rem;
}
.artist{
 font-size: 1rem;
 line-height: 0.25rem;
 padding-bottom: 20px;
}

.song button{
    border: 1px solid #fff;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;

}
.song button:hover{
    color: #000;
    background-color: #fff;
}
.gaming{
    position: relative;
    height: 35em;
}
.video{
    min-width:100%;
    min-height: 100%;
    display: block;
    
}
.content {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%; 
}
.content h2{ 
    text-align: center;
    margin: 20% auto;
    width: 80%;
    line-height: 4rem;
}
footer{
    margin: 10em auto 0 ;
    text-align: right;
    max-width: 80%;
}
.chatlink{
    color: #1b5a82;
    text-decoration: none;
}
.chatlink:hover{
    background-color: #fff;
    color: #0f0d4a;
}
footer ul{
    margin-top: 3.5rem;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    color: #fff;
    font-size: 3rem;
    padding: 0 1rem;
}






@media(max-width: 738px){
.flex-container{
    flex-direction: column;
}
.drumpads{
    display: flex;
    flex-direction: column;
}

h1{
font-size: 3rem;
line-height: 100%;
}
h2{
font-size: 3rem;
line-height: 100%; 
margin: 50px 0;   
}
p{
    font-size: 20px; 
    line-height: 200%;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 0%;
    background-color: rgba(0,0,0,0.9);
    left: 0;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}
.navbar ul{
    position: absolute;
    top: 10%;
    width: 100%;
}

.navbar li a {
    display: block;
    margin: 0;
    border-radius: 0px;
 }

.close, .open{
    display: block;
    position: absolute;
    top: 1.5%;
    right: 7%;
    padding: 0.20em;
    color: #fff;
    background-color: transparent;
    font-size: 1.75em;
    border: none;
}
.main{
    text-align: center;
    margin: 0 auto;
    flex-direction: column-reverse;
    padding-top: 3.5rem;
}
.main h1{
    padding: 1rem 0;
}
.main p{
    text-align: justify;
}
.hero-image img{
    width: 100%;
}

.calculator{
    grid-template-columns: 1fr;
}
.projects p{
    max-width: 80%;
    font-size: 3rem;
    padding: 100px 0;
}

.quotetext{
    padding: 2rem;
}
.quotetext h2{
    margin: 30px 0;
}
.leftquote{
    top: 8%;
    left: 20%;
}
.rightquote{
    top: 90%;
    right: 20%;
}
.songs{
    display: block;
    
    
}
.song img{
    border-radius: 5rem;
    max-width: 4rem;
}
.song{
    padding: 10px;
    border-radius: 0.35rem;
}
.artist{
    font-size: 1rem;
    padding-bottom: 10px;
   }
footer ul li a{
    font-size: 2rem;
    padding: 0 0.5rem;
}

}