@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Suranna;
}
.App{
    background-color: #000;
    color: #fff;
}
header{
    width: 100%;
    height: 100svh;
    background-image: linear-gradient(to left,#1b5a82,#0f0d4a,#070119,#321074,#732ac9);
    text-align: right;

}
.navbar{
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    border: 2px solid #fff;
    margin: auto;

}
.navbar ul{
    list-style: none;
}
 .navbar li{
    display: inline;
 }
 .navbar li a {
    color: cyan;
    text-align: center;
    text-decoration: none;
    padding: 20px;
 }
 .main{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px auto;
 }
.hero-image{
    max-width: 330px;
    border: 2px solid #fff;
    flex-basis: 50%;
}
.main-title{
    border: 2px solid #fff;
    font-size: 30px;
    flex-basis: 50%;
    
}
.aboutme{
    width: 80%;
    height: 100vh;
    border: 2px solid #fff;
    font-size: 30px;
    display: flex;
    margin: auto;
}
.aboutText{
    border: 2px solid #fff;
    text-align: justify;
    flex-basis: 50%;
    padding: 50px;
}
.aboutText h1{
    font-size: 80px;
}
.aboutText p{
    font-size: 20px;
}
.aboutImg{
    border: 2px solid #fff;
    flex-basis: 50%;
    margin: auto;
}
.aboutmeImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.projects{
    width: 100%;
    height: 100svh;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects p{
    max-width: 60%;
    text-align: justify;
}

.calculator, .quotegenerator, .drumpads{
    width: 100%;
    height: 100svh;
    font-size: 30px;
}
